# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode
.idea
#Local History
.history

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# production
/dist
/temp-dist

# misc
.DS_Store

# umi
/src/.umi
/src/.umi-production
/src/.umi-test
/.env.local
